.alegreya-sans-sc-medium {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
}


#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7 {
    position: relative;
    width: 100%;
    height:max-content;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    margin-top: 2%;
}

#col_left,
#col_left3,
#col_left5,
#col_left7 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: right;
    text-align: left;
    left: 8%;
    width: 40.5%;
    height: auto;
    background-color: transparent;
    top: 8%;
    z-index: -1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

#col_left2,
#col_left4 {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    align-self: self-start;
    align-content: left;
    width: 46.5%;
    left: 2.5%;
    height: auto;
    background-color: transparent;
    top: 8%;
    z-index: 2;
    color: whitesmoke;
    margin-right: auto;
    margin-left: 0;
}

#col_left6 {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-self: self-start;
    align-content: left;
    width: 46.5%;
    left: 2.5%;
    height: auto;
    background-color: transparent;
    top: 8%;
    z-index: 2;
    color: whitesmoke;
    margin-right: auto;
    margin-left: 0;
}

#col_right,
#col_right3,
#col_right5,
#col_right7 {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    align-self: right;
    align-content: right;
    right: 1.5%;
    width: 46.5%;
    height: auto;
    background-color: transparent;
    top: 2%;
    z-index: 2;
    color: whitesmoke;
    margin-left: auto;
    margin-right: 0;
}

#col_right2,
#col_right4,
#col_right6 {
    margin-top: 15px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: right;
    width: 40.5%;
    height: auto;
    background-color: transparent;
    z-index: 1;
    color: whitesmoke;
    right: 7.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    text-align: center;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(25, 35, 30, 1);
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 0.25%;
    min-width: 33%;
    width: auto;
    position: relative;
 box-shadow: 4px 6px black;
    border-width: 2px;
    color: whitesmoke;
}

#name {
    font-size: 2em;
    font-family: "Alegreya Sans SC", sans-serif;
}

#descr {
    font-size: 1em;
    background: rgba(40, 50, 45, 1);
}

#mail {
    font-size: 1.5em;
}

.canvas {
    top: 0%;
    position: fixed;
    z-index: -2;
    width: 100%;
    background-image: url("img/600.jpg");
    background-repeat: repeat;
    background-size: 21%;
}

body {
    background-color: transparent;
}

.timeline-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 100%;
    width: fit-content;
    align-self: flex-end;
    height: fit-content;
}

#text-item {
    background: rgba(35, 40, 35, 0.9);
    padding: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 4px 6px black;

    margin-bottom: 15px;
    pointer-events: all;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.timeline-container {
    display: block;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    border-radius: 8%;
    background-color: black, ;
}

html {
    background: black;
}

.timeline {
    position: absolute;
    width: 99%;
    pointer-events: none;
}

img {
    cursor: pointer;
    pointer-events: all;
    z-index: 1000;
}

img:hover {
    outline: 2px solid rgba(0, 0, 0, 1);
    outline-offset: -1px;
}

.expanded {
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    position: absolute;
    top: 0%;
    right: 1%;
    width: auto;
    z-index: 1000;
}


.yearContainer {
    margin-top: 25px;
    position: static;
    width: auto;
    height: fit-content;
}

.year {
    position: relative;
    width: 10%;
    height: fit-content;
    text-align: center;
    justify-self: center;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    padding: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(55, 25, 25, 1);
    border-radius: 8px;
    box-shadow: 4px 6px black;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 4px;
    margin-bottom: 15px;

}


iframe {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    align-self: left;
    align-content: left;
    background-color: transparent;
    top: 4%;
    z-index: 2;
    pointer-events: all;
    border: none;
}

#vid1,
#vid3,
#vid5,
#vid7 {
    right: 4.5%;
    align-self: self-start;
}

#vid2,
#vid4,
#vid6 {
    right: 54.5%;
    align-self: self-start;
}