#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7 {
    position: relative;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    pointer-events: none;
    margin-bottom: 2%;
}

#col_left,
#col_left2,
#col_left3,
#col_left4,
#col_left5,
#col_left6,
#col_left7 {
    position: relative;
    display: inline;
    left: -5%;
    width: 90%;
    min-width: fit-content;
    background-color: transparent;
    top: 5%;
    z-index: -1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    pointer-events: all;
    font-size: small;
}

#col_right,
#col_right2,
#col_right3,
#col_right4,
#col_right5,
#col_right6,
#col_right7 {
    margin-top: 15px;
    display: inline;
    background-color: transparent;
    color: whitesmoke;
}

.img1,
.img2,
.img5,
.img6,
.img7,
#img1,
#img2,
#img5,
#img6,
#img7 {
    position: relative;
    display: inline;
    justify-content: center;
}

.img3,
.img4,
#img3,
#img4 {
    position: relative;
    display: inline;
    justify-content: center;
}

.header {
    text-align: center;
    justify-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

#name {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant-caps: small-caps;
}

#subtitle {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant-caps: small-caps;
    padding: 2%;
    color: gray;
}

#descr {
    font-size: medium;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:
        inset 2px -2px rgba(40, 40, 40, 0.9);
    border-radius: 12px;
}

#mail {
    font-size: large;
    padding: 2%;
}

.canvas {
    top: 0%;
    position: fixed;
    z-index: -2;
    width: 100%;
    background-size: 21%;
    visibility: hidden;
}

body {
    background-color: transparent;
}

.timeline-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 100%;
    width: fit-content;
    align-self: flex-end;
    height: min-content;
}

#text-item {
    background: rgba(35, 40, 35, 0.9);
    padding: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 4px 6px black;
    margin-bottom: 15px;
    pointer-events: all;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.timeline-container {
    display: block;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    border-radius: 8%;
    background-color: black, ;
}

html {
    background-image: url("img/800.jpg");
    background-repeat: repeat;
    background-size: 33%;
}

.timeline {
    position: absolute;
    width: 99%;
    pointer-events: none;
}

img {
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
    margin-top: 1px;
    margin-bottom: 1px;
}

img:hover {
    outline: 1px solid rgba(255, 255, 255, 0.8);
    outline-offset: -1px;
}

.expanded {
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    position: absolute;
    top: 0%;
    right: 1%;
    width: auto;
    z-index: 1000;
}

.game-title {
    position: relative;
    width: 65%;
    height: max-content;
    text-align: center;
    justify-self: center;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom left, rgba(40, 15, 25, 1), rgba(75, 25, 25, 1));
    border-radius: 8px;
    box-shadow:
        inset -2px 2px rgba(75, 25, 25, 0.8),
        -10px 10px 20px rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    margin-bottom: 18px;
    margin-top: 8px;
    font-size: larger;
    font-variant-caps: small-caps;
}

iframe {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    align-self: left;
    align-content: left;
    background-color: transparent;
    top: 4%;
    z-index: 2;
    pointer-events: all;
    border: none;
}

#vid1,
#vid3,
#vid5,
#vid7,
#vid2,
#vid4,
#vid6 {
    align-self: center;
    align-content: center;
    text-align: center;
    justify-self: center;
    margin-bottom: 5%;
    z-index: 99999;
}

footer {
    position: absolute;
}

#card {
    width: 90%;
    max-width: 90%;
    background: linear-gradient(to bottom left, rgba(10, 10, 10, 1), rgba(30, 30, 30, 1));
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 2%;
    box-shadow:
        inset -2px 2px rgba(30, 30, 30, 0.8),
        -10px 10px 20px rgba(0, 0, 0, 0.8);
    text-align: center;
    justify-self: center;
    pointer-events: all;
}

.card-container {
    width: fit-content;
    max-width: 90%;
    background: linear-gradient(to bottom left, rgba(15, 20, 20, 0.9), rgb(30, 35, 30, 0.8));
    padding: 4px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    box-shadow:
        inset -2px 2px rgba(30, 35, 30, 0.8),
        -10px 10px 20px rgba(0, 0, 0, 0.8);
    margin-left: auto;
}

.card-container .title-card {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    font-variant-caps: small-caps;
    justify-content: space-between;
    color: #fff;
    font-size: large;
}

.card-container .card-content {
    width: auto;
    min-width: 400px;
    height: 100%;
    border-radius: 22px;
    color: #d8d8d8;
    padding: 19.5px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.icon {
    pointer-events: none;
}

.game-link {
    visibility: hidden;
}