@font-face {
    font-family: myFont;
    src: url(fonts/CrossedOut.ttf);
   } 

   body {
    font-family: myFont;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
    margin: 0;
    padding: 0;
    background-color: #222831;
}
header {
    background-color: #000000;
    color: #EEEEEE;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    text-align: center;
    margin: 1rem 0;
}
nav a {
    color: #d4d4d4;
    text-decoration: none;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1600px;
    margin: 2rem auto;
    padding: 0 2rem;
}
.gallery img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;;
    margin-bottom: 0.5em;
}
.gallery2 img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5em;
}
.gallery3 img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.gallery3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5em;
}
.gallery4 img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}
.gallery4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5em;
}

footer {
    background-color: #000000;
    color: #EEEEEE;
    text-align: center;
    padding: 1rem 0;
    margin-top: 0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
    height:3px;
    border-width:0;
    color:#00ADB5;
    background-color:#00ADB5;
    border-color:#00ADB5;
    width:50%;
}
.banner {
    display: flex;
    flex-direction: column;
}
.banner a {
    display: block;
    text-decoration: none;
    color: #EEEEEE;
    text-align: center;
    font-size: 5rem;
    padding: 5rem 0;
    background-size: cover;
    background-position: center;
    margin: 0rem 0;
    border-radius: 10px;
    transition: 1.3s ease;
}
.illustration {
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("img/illu/matej-budimir-mat-round2-03.jpg")
}
.illustration:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/illu/matej-budimir-mat-round2-03.jpg")
}
.concept-art {
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("img/ca/matej-budimir-first2.jpg");
}
.concept-art:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("img/ca/matej-budimir-first2.jpg");
}
.game-design {
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("3076658_Budimir_GateLevelLower.PNG");
}
.game-design:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("3076658_Budimir_GateLevelLower.PNG");
}
.other {
    background-image: url("img\ca\matej-budimir-concept2.jpg");
}
